body{
	background-image: url(robot.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: "Nunito", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: <weight>;
  	font-style: normal;




}

.container {
	background-color: rgba(255, 255, 255, .5);
	border: 1px solid black;
	padding: 15px;

}